<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ghl.mapper.RoleResourceRelationMapper">
    <!--    public void insertById(RoleResourceRelationVo roleResourceRelationVo);-->

    <insert id="insertById" parameterType="com.ghl.vo.RoleResourceRelationVo">
        insert into(menu_id,updated_time,updated_by,created_time,created_by,role_id) values
        (
        <foreach collection="menuIdList" open="(" separator="," close=")" item="id">
            #{id}
        </foreach>
        #{updatedTime},
            #{updatedBy},
            #{createdTime},
            #{createdBy},
            #{roleId}
            )

    </insert>

</mapper>